/*----------------animation----------------*/
@keyframes cloud { 0% { transform: translate(0, 0); }
  100% { transform: translate(-40px, 0); } }
@keyframes ncloud { 0% { transform: translate(-10px, 0); }
  100% { transform: translate(50px, 0); } }
@keyframes bcloud { 0% { transform: translate(0, 0); }
  100% { transform: translate(-40px, 0); } }
@keyframes star { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }
/*btn*/
/*_______________pc_______________*/
@media screen and (min-width: 1200px) { html body { overflow-x: hidden; }
  #wrap { width: 100%; height: auto; }
  #wrap #resume { width: 92%; height: 100vh; position: fixed; right: -85%; z-index: 1000; transition: all 1s; }
  #wrap #resume.resm_move { right: 0; }
  #wrap #resume #resmBar { width: 8%; height: 100%; float: left; margin-left: 1%; background-image: url(../img/resume_bg.png); }
  #wrap #resume #resmBar h1 { width: 61%; height: 4.5vw; margin-left: 15%; margin-top: 20%; }
  #wrap #resume #resmBar h1 button { width: 100%; height: 100%; background-color: transparent; background-image: url(../img/home.png); background-size: cover; background-repeat: no-repeat; }
  #wrap #resume #resmBar h1 button:hover { background-image: url(../img/home_hov.png); background-size: cover; background-repeat: no-repeat; }
  #wrap #resume #resmBar h1 a { width: 100%; height: 100%; display: block; text-decoration: none; }
  #wrap #resume #resmBar .rem_btn { width: 50%; height: 40px; margin-top: 240px; padding-top: 10px; margin-left: 30px; cursor: pointer; }
  #wrap #resume #resmBar .rem_btn:hover > .btn_up { transform: rotate(-35deg); }
  #wrap #resume #resmBar .rem_btn:hover > .btn_down { transform: rotate(35deg); }
  #wrap #resume #resmBar .rem_btn span { display: block; }
  #wrap #resume #resmBar .rem_btn .btn_up { width: 80%; height: 6px; border-radius: 10px; background-color: #fff; margin-bottom: 14px; transition: all 0.2s; box-shadow: 3px 3px 3px #ff6c6c; }
  #wrap #resume #resmBar .rem_btn .btn_down { width: 80%; height: 6px; border-radius: 10px; background-color: #fff; transition: all 0.2s; box-shadow: 3px 3px 3px #ff6c6c; }
  #wrap #resume .resm { width: 91%; height: 100%; float: left; background-color: #ffdfdf; }
  #wrap #resume .resm li { height: 100%; float: left; }
  #wrap #resume .resm .resm_pro { width: 20%; }
  #wrap #resume .resm .resm_pro > ul { width: 100%; height: 100%; }
  #wrap #resume .resm .resm_pro > ul .r_cha { width: 95%; height: 50%; background-image: url(../img/myface.png); background-repeat: no-repeat; background-size: 100%; margin-left: 2.5%; margin-top: 10%; }
  #wrap #resume .resm .resm_pro > ul .r_profile { width: 95%; height: 40%; margin-left: 2.5%; margin-top: 8%; }
  #wrap #resume .resm .resm_pro > ul .r_profile > ul { width: 100%; height: 100%; }
  #wrap #resume .resm .resm_pro > ul .r_profile > ul > li { width: 100%; height: 10%; margin-bottom: 0.833vw; font-size: 2.2vh; line-height: 2vw; color: #555; font-family: "Noto Sans KR"; font-weight: normal; word-spacing: 0.2rem; }
  #wrap #resume .resm .resm_pro > ul .r_profile > ul > li > i { width: 12%; height: 100%; float: left; display: block; margin-right: 6px; background-repeat: no-repeat; background-size: 90%; }
  #wrap #resume .resm .resm_pro > ul .r_profile > ul > li .email { background-image: url(../img/pro_e.png); }
  #wrap #resume .resm .resm_pro > ul .r_profile > ul > li .kakao { background-image: url(../img/pro_ka.png); background-position: 0 6px; }
  #wrap #resume .resm .resm_pro > ul .r_profile > ul > li .insa { background-image: url(../img/pro_in.png); }
  #wrap #resume .resm .resm_pro > ul .r_profile > ul > li .git { background-image: url(../img/pro_git.png); background-position: 0 4px; }
  #wrap #resume .resm .resm_pro > ul .r_profile > ul > li > p { line-height: 2vw; color: #555; font-family: "Noto Sans KR"; }
  #wrap #resume .resm .resm_con { width: 50%; background-color: #ffdfdf; }
  #wrap #resume .resm .resm_con > ul { width: 98.5%; height: 100%; margin-left: 1.5%; }
  #wrap #resume .resm .resm_con > ul > li { width: 100%; height: 24%; margin-top: 1%; }
  #wrap #resume .resm .resm_con > ul > li:first-child { margin-top: 4%; }
  #wrap #resume .resm .resm_con > ul > li > dl { width: 100%; height: 100%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dt { width: 100%; height: 20%; margin-bottom: 0.6%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dt > i { width: 6%; height: 100%; display: block; float: left; background-repeat: no-repeat; background-size: 85%; background-position: center; }
  #wrap #resume .resm .resm_con > ul > li > dl > dt .ied { background-image: url(../img/pro_eu.png); background-size: 100%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dt .iwe { background-image: url(../img/pro_work.png); }
  #wrap #resume .resm .resm_con > ul > li > dl > dt .iaw { background-image: url(../img/pro_aw.png); }
  #wrap #resume .resm .resm_con > ul > li > dl > dt .ili { background-image: url(../img/pro_li.png); }
  #wrap #resume .resm .resm_con > ul > li > dl > dt > p { width: 50%; height: 100%; display: block; margin-left: 7%; font-size: 3.8vh; font-weight: 500; line-height: 2.3vw; font-family: "Noto Sans KR"; color: #ff6c6c; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd { width: 100%; height: 78%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul { width: 100%; height: 100%; position: relative; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul > li { width: 100%; height: 30%; margin-top: 1%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul > li:first-child { margin-top: 0; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul > li p { width: 25%; height: 100%; float: left; margin-left: 5%; text-align: center; color: #555; font-family: "Noto Sans KR"; font-weight: 400; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul > li .con_tx { font-size: 2vh; font-family: "Noto Sans KR"; font-weight: 400; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul > li .con_txt { font-size: 1.9vh; line-height: 2.2vh; font-family: "Noto Sans KR"; font-weight: 400; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .re_graph { width: 100%; height: 12%; position: absolute; top: 27%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .re_graph > span { width: 2.6%; height: 100%; border-radius: 10px; background-color: #ff6c6c; display: block; margin-left: 28%; float: left; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .re_graph .fir_span { margin-left: 16%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .re_graph_li { width: 100%; height: 12%; position: absolute; top: 27%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .re_graph_li > span { width: 2.6%; height: 100%; border-radius: 10px; background-color: #ff6c6c; display: block; margin-left: 18%; float: left; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .re_graph_li .fir_span { margin-left: 9%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .re_graph_li .snd_span { margin-right: -1%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .re_graph_li .thd_span { margin-right: -1%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .re_graph_li .for_span { margin-right: -1%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .date > p { line-height: 3vw; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .re_bar { width: 90%; height: 5%; margin-left: 5%; border-radius: 6px; background-color: #ff9898; margin-bottom: 2%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .licen_li > p { width: 19%; height: 100%; margin-left: 0; margin-right: 1%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .licen_li .con_li { font-size: 1.8vh; font-family: "Noto Sans KR"; font-weight: 400; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .licen_li .p_fir { margin-left: 0.5%; }
  #wrap #resume .resm .resm_con > ul > li > dl > dd > ul .licen_li .p_last { margin-right: 0; }
  #wrap #resume .resm .resm_skill { width: 30%; background-color: #ffdfdf; }
  #wrap #resume .resm .resm_skill > dl { margin-top: 1.3vw; margin-left: 1.2vw; }
  #wrap #resume .resm .resm_skill > dl > dt { margin-bottom: 0.7vw; color: #555; font-size: 2.7vh; font-family: "Noto Sans KR"; font-weight: 300; }
  #wrap #resume .resm .resm_skill > dl > dd { width: 95%; height: 8px; border-radius: 6px; background-color: #ffabab; }
  #wrap #resume .resm .resm_skill > dl > dd > div { width: 0; height: 100%; background-color: #ff6c6c; border-radius: 6px; }
  #wrap #resume .resm .resm_skill > dl:nth-of-type(1) div.gage { width: 90%; transition: width 1s ease-out 0.5s; }
  #wrap #resume .resm .resm_skill > dl:nth-of-type(2) div.gage { width: 90%; transition: width 1s ease-out 0.5s; }
  #wrap #resume .resm .resm_skill > dl:nth-of-type(3) div.gage { width: 90%; transition: width 1s ease-out 0.5s; }
  #wrap #resume .resm .resm_skill > dl:nth-of-type(4) div.gage { width: 60%; transition: width 1s ease-out 0.5s; }
  #wrap #resume .resm .resm_skill > dl:nth-of-type(5) div.gage { width: 80%; transition: width 1s ease-out 0.5s; }
  #wrap #resume .resm .resm_skill > dl:nth-of-type(6) div.gage { width: 80%; transition: width 1s ease-out 0.5s; }
  #wrap #resume .resm .resm_skill > dl:nth-of-type(7) div.gage { width: 70%; transition: width 1s ease-out 0.5s; }
  #wrap #resume .resm .resm_skill > dl:nth-of-type(8) div.gage { width: 50%; transition: width 1s ease-out 0.5s; }
  #wrap #resume .resm .resm_skill > dl:nth-of-type(9) div.gage { width: 70%; transition: width 1s ease-out 0.5s; }
  #wrap #resume .resm .resm_skill > dl:nth-of-type(10) div.gage { width: 60%; transition: width 1s ease-out 0.5s; }
  #wrap #resume .resm .resm_skill > dl:nth-of-type(11) div.gage { width: 70%; transition: width 1s ease-out 0.5s; }
  #wrap #resume .resm .resm_skill .skill_01 { margin-top: 2vw; /*25px;*/ }
  #wrap #box1 { width: 100%; height: 100vh; position: relative; }
  #wrap #box1 #box1bg { width: 480px; height: 298px; position: absolute; right: 16%; top: 20%; }
  #wrap #box1 #box1bg ul { width: 100%; height: 100%; }
  #wrap #box1 #box1bg ul .bg_text { width: 355px; height: 152px; margin: 70px auto; background-image: url(../img/title.png); background-repeat: no-repeat; position: relative; }
  #wrap #box1 #box1bg ul .star { width: 25px; height: 25px; position: absolute; right: 21%; top: 42%; background-image: url(../img/star.png); background-repeat: no-repeat; animation: star 2s infinite; }
  #wrap #box1 #box1bg ul .cloud1 { width: 75px; height: 42px; background-image: url(../img/cloud3.png); background-repeat: no-repeat; position: absolute; top: 10%; right: 10%; animation: cloud 3s infinite alternate; }
  #wrap #box1 #box1bg ul .cloud2 { width: 126px; height: 68px; background-image: url(../img/cloud2.png); background-repeat: no-repeat; position: absolute; top: 37%; left: 5%; animation: ncloud 5s infinite alternate; }
  #wrap #box1 #box1bg ul .cloud3 { width: 152px; height: 83px; background-image: url(../img/cloud.png); background-repeat: no-repeat; position: absolute; top: 60%; right: 5%; animation: bcloud 5s infinite alternate; }
  #wrap #box1 #gnb { width: 46%; height: 100%; float: left; }
  #wrap #box1 .gnb_nav { width: 100%; height: 100%; background-image: url(../img/menu.png); background-repeat: no-repeat; background-position: 50% 30%; background-size: 50%; }
  #wrap #box1 .gnb_nav li { width: 90%; height: 6vh; margin-bottom: 2.5vw; margin-left: 5%; }
  #wrap #box1 .gnb_nav li:first-child { padding-top: 220px; }
  #wrap #box1 .gnb_nav li a { width: 100%; height: 100%; display: block; text-align: center; text-decoration: none; line-height: 2.125rem; font-size: 1.5rem; letter-spacing: 0.375rem; color: #888; font-family: "Noto Sans KR"; font-weight: 300; }
  #wrap #box1 .gnb_nav li a:hover { color: #ff9898; font-weight: bold; }
  #wrap #box1 #gnb_pic { width: 46%; height: 100%; float: left; }
  #wrap #box1 #gnb_pic ul { width: 100%; height: 100%; }
  #wrap #box1 #gnb_pic ul li { width: 100%; height: 100%; }
  #wrap #box1 #gnb_pic ul .box2_pic { background-color: #ffa; display: none; }
  #wrap #box1 #gnb_pic ul .box3_pic { background-color: #aff; display: none; }
  #wrap #box1 #gnb_pic ul .box4_pic { background-color: #ccc; display: none; }
  #wrap #box1 #gnb_pic ul .box5_pic { background-color: #f21; display: none; }
  #wrap #box2 { width: 100%; height: calc(100vh - 3vw); padding-top: 3vw; }
  #wrap #box2 .box2_title { width: 20%; height: 10vh; margin-left: 2vw; display: block; margin-top: 2vw; text-align: center; font-size: 5vh; font-weight: bold; letter-spacing: 0.5rem; line-height: 10vh; color: #ff9898; font-family: "Noto Sans KR"; }
  #wrap #box2 .box2_bg { width: 20%; height: 75%; background-image: url(../img/abtme.png); background-repeat: no-repeat; background-size: 70%; background-position: 0 50px; margin-left: 2vw; float: left; margin-top: 2.3%; }
  #wrap #box2 #aboutMe { width: 67%; height: 80%; margin-left: 1.5vw; float: left; overflow: hidden; position: relative; }
  #wrap #box2 #aboutMe .abt_btn { width: 15%; height: 5%; display: none; position: absolute; left: 50%; margin-left: -8%; bottom: 0; }
  #wrap #box2 #aboutMe .abt_btn li { width: 20%; height: 100%; float: left; margin-left: 18%; }
  #wrap #box2 #aboutMe .abt_btn li:first-child { display: none; }
  #wrap #box2 #aboutMe .abt_box { width: 100%; height: 400%; }
  #wrap #box2 #aboutMe .abt_box li { width: 100%; height: calc(100% / 4); }
  #wrap #box2 #aboutMe .abt_box .abt_box1 { display: none; }
  #wrap #box2 #aboutMe .abt_box .abt_box2 { display: none; }
  #wrap #box2 #aboutMe .abt_box .abt_box3 { height: 30.3%; padding-top: 5%; }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_me { width: 100%; height: 90%; }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_me > li { width: 23%; height: 45%; float: left; margin-left: 1vh; background-size: contain; background-repeat: no-repeat; background-position: center; background-size: 55%; }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_me > li:first-child { margin-left: 4vh; }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_me .abtb_me_1 { background-image: url(../img/abticon_1.png); }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_me .abtb_me_2 { background-image: url(../img/abticon_2.png); }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_me .abtb_me_3 { background-image: url(../img/abticon_3.png); }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_me .abtb_me_4 { background-image: url(../img/abticon_4.png); }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_name { width: 100%; height: 30%; float: left; }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_name > .abtb_title { width: 100%; height: 30%; }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_name > .abtb_title > p { width: 23%; height: 100%; margin-left: 1vh; display: block; float: left; text-align: center; font-size: 3vh; line-height: 5vh; font-weight: normal; font-family: "Noto Sans KR"; color: #ff6c6c; }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_name > .abtb_title .abtb_t { margin-left: 4vh; }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_name > .abtb_con { width: 100%; height: 70%; }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_name > .abtb_con > span { width: 23%; height: 100%; display: block; text-align: center; line-height: 6vh; float: left; margin-left: 1vh; font-size: 1vw; }
  #wrap #box2 #aboutMe .abt_box .abt_box3 .abtb_name > .abtb_con .abtb_c { margin-left: 4vh; line-height: 12vh; }
  #wrap #box2 #aboutMe .abt_box .abt_box4 { display: none; }
  #wrap #box3 { width: 100%; height: calc(100vh - 3vw); padding-top: 3vw; }
  #wrap #box3 .box3_title { width: 20%; height: 10vh; margin-left: 2vw; display: block; margin-top: 2vw; text-align: center; font-size: 5vh; font-weight: bold; letter-spacing: 0.5rem; line-height: 10vh; color: #ff9898; font-family: "Noto Sans KR"; }
  #wrap #box3 .box3_bg { width: 20%; height: 75%; background-image: url(../img/web.png); background-repeat: no-repeat; background-size: 80%; background-position: 0px 40px; margin-left: 2vw; float: left; margin-top: 2.7%; }
  #wrap #box3 .web { width: 67%; height: 91%; margin-top: -4.5vw; margin-left: 1.5vw; float: left; }
  #wrap #box3 .web > dt { width: 100%; height: 10%; border-bottom: 1px solid #ff9898; transition: all 0.3s; }
  #wrap #box3 .web > dt:hover { background-color: #ffdfdf; cursor: pointer; }
  #wrap #box3 .web > dt > p { width: 100%; height: 100%; font-size: 1.25rem; text-align: center; line-height: 4vw; font-family: "Noto Sans KR"; color: #888; font-weight: 300; }
  #wrap #box3 .web > dd { width: 100%; height: 0%; overflow: hidden; transition: all 0.5s; }
  #wrap #box3 .web > dd.height_view { height: 80%; }
  #wrap #box3 .web .webpo_1 .webpo_pic1 { width: 48%; height: 100%; background-image: url(../img/tore_web.png); background-position: 0 2.5rem; background-repeat: no-repeat; background-size: contain; float: left; margin-right: 2%; margin-left: 1%; }
  #wrap #box3 .web .webpo_1 .webpo_con1 { width: 48%; height: 100%; float: left; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con1_title { width: 90%; height: 10%; display: block; margin-bottom: 10%; margin-top: 15%; margin-left: 5%; text-align: center; font-family: "Noto Sans KR"; font-size: 1.3rem; color: #888; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con_btn { width: 100%; height: 50%; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con_btn > li { width: 35%; height: 100%; float: left; margin-right: 5%; cursor: pointer; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con_btn > li:hover button { color: #fff; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con_btn > li:first-child { margin-left: 12%; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con_btn > li:last-child { margin-right: 0; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con_btn > li > button { width: 100%; height: 50%; margin-top: 60%; cursor: pointer; font-family: "Noto Sans KR"; font-weight: 500; background-color: transparent; color: #ff6c66; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con_btn .process { background-image: url(../img/procesbtn_hov.png); background-repeat: no-repeat; background-position: center; background-size: contain; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con_btn .process:hover { background-image: url(../img/procesbtn.png); background-repeat: no-repeat; transition: all 0.5s; background-size: contain; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con_btn .sitego { background-image: url(../img/sitebtn.png); background-repeat: no-repeat; background-position: center; background-size: contain; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con_btn .sitego a { width: 100%; height: 70%; display: block; text-decoration: none; padding-top: 30%; cursor: pointer; font-family: "Noto Sans KR"; font-weight: 500; background-color: transparent; color: #ff6c66; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con_btn .sitego a:hover { color: #fff; }
  #wrap #box3 .web .webpo_1 .webpo_con1 .con_btn .sitego:hover { background-image: url(../img/sitebtn_hov.png); background-repeat: no-repeat; transition: all 0.5s; background-size: contain; }
  #wrap #box3 .web .webpo_2 .webpo_pic2 { width: 48%; height: 100%; background-image: url(../img/seven-eleven_web.png); background-repeat: no-repeat; background-size: 110%; background-position: -1.6rem 3rem; float: left; margin-right: 2%; margin-left: 1%; }
  #wrap #box3 .web .webpo_2 .webpo_con2 { width: 48%; height: 100%; float: left; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con2_title { width: 90%; height: 10%; display: block; margin-bottom: 10%; margin-top: 15%; margin-left: 5%; text-align: center; font-family: "Noto Sans KR"; font-size: 1.3rem; color: #888; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con_btn { width: 100%; height: 50%; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con_btn > li { width: 35%; height: 100%; float: left; margin-right: 5%; cursor: pointer; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con_btn > li:hover button { color: #fff; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con_btn > li:first-child { margin-left: 12%; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con_btn > li:last-child { margin-right: 0; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con_btn > li > button { width: 100%; height: 50%; margin-top: 60%; cursor: pointer; font-family: "Noto Sans KR"; font-weight: 500; background-color: transparent; color: #ff6c66; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con_btn .process { background-image: url(../img/procesbtn_hov.png); background-repeat: no-repeat; background-position: center; background-size: contain; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con_btn .process:hover { background-image: url(../img/procesbtn.png); background-repeat: no-repeat; transition: all 0.5s; background-size: contain; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con_btn .sitego { background-image: url(../img/sitebtn.png); background-repeat: no-repeat; background-position: center; background-size: contain; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con_btn .sitego a { width: 100%; height: 70%; display: block; text-decoration: none; padding-top: 30%; cursor: pointer; font-family: "Noto Sans KR"; font-weight: 500; background-color: transparent; color: #ff6c66; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con_btn .sitego a:hover { color: #fff; }
  #wrap #box3 .web .webpo_2 .webpo_con2 .con_btn .sitego:hover { background-image: url(../img/sitebtn_hov.png); background-repeat: no-repeat; transition: all 0.5s; background-size: contain; }
  #wrap #box4 { width: 100%; height: calc(100vh - 3vw); padding-top: 3vw; }
  #wrap #box4 .box4_title { width: 20%; height: 10vh; margin-left: 2vw; display: block; margin-top: 2vw; text-align: center; font-size: 5vh; font-weight: bold; letter-spacing: 0.5rem; line-height: 10vh; font-family: "Noto Sans KR"; color: #ff9898; }
  #wrap #box4 .box4_bg { width: 20%; height: 75%; margin-left: 2vw; float: left; margin-top: 2.7%; background-image: url(../img/visual.png); background-repeat: no-repeat; background-size: 100%; background-position: 0 50px; }
  #wrap #box4 .gallery { width: 67%; height: 91%; margin-top: -4.5vw; margin-left: 1.5vw; float: left; }
  #wrap #box4 .gallery > dt { width: 100%; height: 10%; cursor: pointer; transition: all 0.3s; }
  #wrap #box4 .gallery > dt p { width: 100%; height: 100%; font-size: 1.2rem; text-align: center; line-height: 55px; font-family: "Noto Sans KR"; color: #888; border-bottom: 1px solid #ff9898; font-weight: 300; }
  #wrap #box4 .gallery > dt:hover { background-color: #ffdfdf; }
  #wrap #box4 .gallery > dd { width: 100%; height: 0%; overflow: hidden; transition: all 0.5s; }
  #wrap #box4 .gallery > dd.ga_height { height: 70%; }
  #wrap #box4 .gallery .vpo_1 > ul { width: 100%; height: 100%; }
  #wrap #box4 .gallery .vpo_1 > ul > li { width: 30%; height: 70%; margin-left: 5%; margin-top: 10vh; float: left; }
  #wrap #box4 .gallery .vpo_1 > ul > li:first-child { margin-left: 17%; }
  #wrap #box4 .gallery .vpo_1 > ul .info_1 { background-image: url(../img/infomap.jpg); background-size: cover; background-repeat: no-repeat; background-position: 0 -6rem; /*							a{width:100%; height: 100%; display: block; transition:all 0.7s;
								&:hover {background-color:rgba(3, 3, 3, 0.2);}
						}*/ }
  #wrap #box4 .gallery .vpo_1 > ul .info_2 { background-image: url(../img/infographic.png); background-size: 90%; background-repeat: no-repeat; background-position: center; }
  #wrap #box4 .gallery .vpo_2 > ul { width: 100%; height: 100%; }
  #wrap #box4 .gallery .vpo_2 > ul > li { width: 25%; height: 70%; margin-left: 2%; margin-top: 10vh; background-color: #ddd; float: left; }
  #wrap #box4 .gallery .vpo_2 > ul > li:first-child { margin-left: 11%; }
  #wrap #box4 .gallery .vpo_3 > ul { width: 100%; height: 100%; }
  #wrap #box4 .gallery .vpo_3 > ul > li { width: 25%; height: 70%; margin-left: 2%; margin-top: 10vh; background-color: #eee; float: left; }
  #wrap #box4 .gallery .vpo_3 > ul > li:first-child { margin-left: 11%; }
  #wrap #box5 { width: 100%; height: calc(100vh - 3vw); padding-top: 3vw; }
  #wrap #box5 #pro_box { width: 20%; height: 80%; margin: 0 auto; }
  #wrap #box5 #pro_box > ul { width: 100%; height: 100%; }
  #wrap #box5 #pro_box > ul li { width: 100%; height: 10%; margin-bottom: 10px; }
  #wrap #box5 #pro_box > ul li:first-child { height: 70%; }
  #wrap #box5 #pro_box > ul li:last-child { margin-bottom: 0; }
  #wrap #box5 #pro_box > ul li i { width: 20%; height: 100%; display: block; float: left; background-repeat: no-repeat; background-size: 70%; background-position: center; }
  #wrap #box5 #pro_box > ul li .ic_phone { background-image: url(../img/ic_phone.png); background-size: 50%; }
  #wrap #box5 #pro_box > ul li .ic_kakao { background-image: url(../img/ic_kakao.png); }
  #wrap #box5 #pro_box > ul li .ic_email { background-image: url(../img/ic_email.png); }
  #wrap #box5 #pro_box > ul li .ic_site { background-image: url(../img//ic_webpage.png); }
  #wrap #box5 #pro_box > ul li p { width: 78%; height: 100%; float: left; color: #888; font-size: 2.8vh; line-height: 7vh; margin-left: 2%; font-family: "Noto Sans KR"; font-weight: 300; }
  #wrap #box5 #pro_box > ul li p a { width: 100%; height: 100%; display: block; text-decoration: none; color: #888; line-height: 7vh; }
  #wrap #box5 #pro_box > ul li .email { font-size: 1.2vw; }
  #wrap #box5 #pro_box > ul li .last_p4 { font-size: 1.2vw; line-height: 8vh; }
  #wrap #box5 #pro_box > ul .contect_pic { background-image: url(../img/contect_pic.png); background-repeat: no-repeat; background-size: contain; background-position: center; } }

/*# sourceMappingURL=index_pc.css.map */
