$black : #595959;
$point: #1a932c;
#wrap {width:100%; height:auto; overflow-x: hidden;
	
	#box1 {width:100%; height:100vh; 
		>ul {width:100%; height:100%; 
			>li {width:50%; height:100%; float: left; font-family:'Noto Sans KR';}
				.to_pic {background-image:url(../img/seven-eleven_web.png); background-size:contain; background-repeat: no-repeat; background-position: center;}
				.text {background-color:rgba(26, 255, 44, 0.1);
					>ul {width: 70%; height: 100%;
						>li {width: 100%; height: 2.5vw;  margin-top:1.5vw; margin-left:5vw; line-height:2.5vw; color:$black; font-size: 1.2vw	;
							&:first-child {margin-top:6vw; margin-bottom: 1.8vw; height: 4vw;  font-size: 3vw; font-weight: bold;  color:$point;}
							&:last-child {width: 100%; height: 8vw; margin-top: 6vw;}
							>a {text-decoration: none; color: $black;}
							.concept {width: 100%; height: 100%; 
								>li {width: 8vw; height: 100%; background-color: $point; float: left; margin-right: 2.5vw; border-radius: 5vw; color:#fff; line-height:8vw; text-align:center; box-shadow: 2px 2px 2px  #007215;}

								.concept_1 {letter-spacing: -0.5px;} 
							}//.concept
						}
					}
			}//.text
		}//ul
	}//#box1
	#box2 {width:100%; height:100vh; 
		>ul {width: 100%; height: 100%;
			>li {width: 50%; height: 100%; float:left;  font-family:'Noto Sans KR';}
			.to_pic {background-color:rgba(26, 255, 44, 0.1);background-image:url(../img/seven-eleven_web.png); background-size:contain; background-repeat: no-repeat; background-position: center;}
							.text {
					>ul {width: 100%; height: 100%;
						>li {width: 70%; height: 18vw;  margin-top:2vw; margin-left:5vw; line-height:2vw; color:$black; font-size: 1.2vw	;
							&:first-child {margin-top:4rem; margin-bottom: 1.5vw; height: 4vw;  font-size: 3vw; font-weight: bold;  color:$point;}
							>.color{width: 100%;  height: 100%; 
								>li {width: 100%; height:4.8vw; margin-top:1.5vw;
									
									>ul {width: 50%; height: 100%; 
										.mc {width: 4.8vw; height: 100%; background-color:#ef7d00
; border-radius: 2rem; float:left; margin-right:2vw; }
										.mc_2 {width: 4.8vw; height: 100%; background-color:#e40613; border-radius: 2rem; float:left; margin-right:2vw; }
										.mc_3 {width: 4.8vw; height: 100%; background-color:#1a932c; border-radius: 2rem; float:left; margin-right:2vw;}
									}
								}
							}//color
						}
						.font {width: 70%;  height: 15vw;  background-image: url(../img/font.png); background-repeat: no-repeat; background-size: 100%; background-position: center;}
					}
			}//.text
		}
	}//box2
	#box3 {width:100%; height:100vh; 
		#boxWrap {width: 50%; height: 100%;  overflow: hidden; float:left; 
			>ul {width: 400%; height:100%;  
				>li {width: 25%; height: 100%; float: left;}
				.pc_home {background-image: url(../img/sev_mock1.png); background-repeat: no-repeat; background-position: 0 16px; background-size: contain; position: relative; 
					.h_next {width: 4vw; height: 4vw;  position:absolute; right:1.5vw; bottom:1.5vw; background-image:url(../img/s_right.png); background-repeat:no-repeat; background-size:contain; background-position:center; background-color:transparent; }
				}//.pc_home				
				.pc_evn {background-image: url(../img/sev_mock2.png); background-repeat: no-repeat; background-position: 0 16px; background-size: contain; position: relative;
					.e_bef{width: 4vw; height: 4vw;  position:absolute; left:1.5vw; bottom:1.5vw; background-image:url(../img/s_left.png); background-repeat:no-repeat; background-size:contain; background-position:center; background-color:transparent;}
					.e_next{width: 4vw; height: 4vw;  position:absolute; right:1.5vw; bottom:1.5vw; background-image:url(../img/s_right.png); background-repeat:no-repeat; background-size:contain; background-position:center; background-color:transparent; }
				}//.pc_evn		
				.pc_pro {background-image: url(../img/sev_mock3.png); background-repeat: no-repeat; background-position: 0 16px; background-size: contain; position: relative;
					.p_bef {width: 4vw; height: 4vw;  position:absolute; left:1.5vw; bottom:1.5vw;  background-image:url(../img/s_left.png);background-repeat:no-repeat; background-size:contain; background-position:center; background-color:transparent;}
					.p_next {width: 4vw; height: 4vw;  position:absolute; right:1.5vw; bottom:1.5vw; background-image:url(../img/s_right.png); background-repeat:no-repeat; background-size:contain; background-position:center; background-color:transparent;}
				}//.pc_pro			
				.pc_do {background-image: url(../img/sev_mock4.png); background-repeat: no-repeat; background-position: 0 16px; background-size: contain; position: relative;
					.d_bef {width: 4vw; height: 4vw;  position:absolute; right:1.5vw; bottom:1.5vw; background-image:url(../img/s_left.png); background-repeat:no-repeat; background-size:contain; background-position:center; background-color:transparent; }
				}//pc_do
			}
		}//#boxWrap
		#codding {width: 50%; height:100%; float:left;  overflow: hidden;
			>ul {width:400%; height:100%; 
				>li {width: 25%; height:100%;  float:left;}
				.pc_home_c {background-image:url(../img/sev_mock1_p.png); background-repeat: no-repeat; background-size: 70%; background-position: center;}//.header_c
				.pc_evn_c {background-image:url(../img/sev_mock2_p.png); background-repeat: no-repeat; background-size: 90%; background-position: center; background-size:90%;}//.bb_c
				.pc_pro_c {background-image:url(../img/sev_mock3_p.png); background-repeat: no-repeat; background-size: 80%; background-position: 7vw 4vw;}//.pro_c
				.pc_do_c {background-image:url(../img/sev_mock4_p.png); background-repeat: no-repeat; background-size: 80%; background-position: center;}//.info_c
			}
							.codewith{width:100%; height:100%;}
		}//#codding
		
	}//box3
	#box4 {width:100%; height:100vh; 
		#tabWrap {width: 50%; height: 100%;  overflow: hidden; float:left; 
			>ul {width: 400%; height:100%; 
				>li {width: 25%; height: 100%; float: left;}
				.tab_home {background-image: url(../img/sev_mock1_tab.png); background-repeat: no-repeat; background-position: center; background-size: contain; position: relative;
					.h_next_tab {width: 4vw; height: 4vw;  position:absolute; right:1.5vw; bottom:1.5vw; background-image:url(../img/s_right.png); background-repeat:no-repeat; background-size:contain; background-position:center; background-color:transparent;}
				}//.pc_home				
				.tab_evn {background-image: url(../img/sev_mock2_tab.png); background-repeat: no-repeat; background-position: center; background-size: contain; position: relative;
					.e_bef_tab{width: 4vw; height: 4vw;  position:absolute; left:1.5vw; bottom:1.5vw; background-image:url(../img/s_left.png); background-repeat:no-repeat; background-size:contain; background-position:center; background-color:transparent;}
					.e_next_tab{width: 4vw; height: 4vw;  position:absolute; right:1.5vw; bottom:1.5vw; background-image:url(../img/s_right.png); background-repeat:no-repeat; background-size:contain; background-position:center; background-color:transparent;}
				}//.pc_evn		
				.tab_pro {background-image: url(../img/sev_mock3_tab.png); background-repeat: no-repeat; background-position: center; background-size: contain; position: relative;
					.p_bef_tab {width: 4vw; height: 4vw;  position:absolute; left:1.5vw; bottom:1.5vw; background-image:url(../img/s_left.png); background-repeat:no-repeat; background-size:contain; background-position:center; background-color:transparent;}
					.p_next_tab {width: 4vw; height: 4vw;  position:absolute; right:1.5vw; bottom:1.5vw; background-image:url(../img/s_right.png); background-repeat:no-repeat; background-size:contain; background-position:center; background-color:transparent;}
				}//.pc_pro			
				.tab_do {background-image: url(../img/sev_mock4_tab.png); background-repeat: no-repeat; background-position:center; background-size: contain; position: relative;
					.d_bef_tab {width: 4vw; height: 4vw;  position:absolute; right:1.5vw; bottom:1.5vw; background-image:url(../img/s_left.png); background-repeat:no-repeat; background-size:contain; background-position:center; background-color:transparent;}
				}//pc_do
			}
		}//#boxWrap
		#tabCode {width: 50%; height:100%; float:left;  overflow: hidden;
			>ul {width: 400%; height:100%; 
				>li {width: 25%; height:100%; float:left;  }
				.tab_home_c {background-image:url(../img/sev_mock1_mob.png); background-repeat: no-repeat; background-position: center; background-size: contain; position: relative;;}//.header_c
				.tab_evn_c {background-image:url(../img/sev_mock1_mob.png); background-repeat: no-repeat; background-position: center; background-size: contain; position: relative;}//.bb_c
				.tab_pro_c {background-image:url(../img/sev_mock1_mob.png); background-repeat: no-repeat; background-position: center; background-size: contain; position: relative;}//.pro_c
				.tab_do_c {background-image:url(../img/sev_mock1_mob.png); background-repeat: no-repeat; background-position: center; background-size: contain; position: relative;}//.info_c
			}
							.codewith{width:100%; height:100%;}
		}//#codding
		
	}//box4
}//#wrap