/*__________________banner____________________*/
/*banner*/
#container {width:100%; height:auto; background-color:#fff}
#bannerBox {width:100%; height:500px; height:31.25rem; background-color:rgba(51, 30, 19, .8);border-bottom:10px solid #e41e26;}
#indexBanner {width:1200px; width:75rem; height:500px; height:31.25rem; margin:0 auto; overflow: hidden;  position:relative;}
#indexBanner>ul {width:400%; height:100%; margin-left:-100%;}
#indexBanner>ul>li {width:calc(100% / 4); width:1200px; height:100%; float:left;}

#indexBanner>ul>.banner_1 {background-color:url(../img/banner/banner_pic_3.jpg); background-repeat:no-repeat; background-size:contain;}
#indexBanner>ul>.banner_2 {background-image:url(../img/banner/banner_pic_2.jpg); background-repeat: no-repeat; background-size:contain;}
#indexBanner>ul>.banner_3 {background-color:#08f;}
#indexBanner>ul>.banner_4 {background-color:#f08;}

/*button*/

.index_btn {width:26px; width:1.625rem; 
            height:46px; height:2.875rem;
            position:absolute; top:50%; margin-top:-23px; margin-top:-1.4375rem;
            cursor:pointer;
background-image: url(../img/banner/arrow.png); background-repeat:no-repeat;}
    #indexBtn_L {left:70px; background-color:transparent;}
    #indexBtn_R {right:70px; background-color:transparent; background-position: -775px 0; background-position:-48.4375rem 0; }

/*ol_button*/
#indexBanner>ol {width:64px; width:4rem; height:10px; height:0.625rem; position:absolute; left:50%; bottom:45px; bottom:2.8125rem; margin-left:-32px; 
    margin-left:-2rem;}
    #indexBanner>ol>li {width:10px; width:0.625; height:10px; height:0.625rem; margin-right:8px; margin-right:0.5rem; background-color:#fff; float:left; cursor: pointer; border-radius: 50%;}