/*__________________header____________________*/

header {width:100%; height:96px; height:6rem; position:relative; z-index: 500; top:0; left:0; border-bottom:5px solid #e41e26; border-bottom:0.3125rem solid #e41e26;}
#headLnb {width:100%; height:30px; height:1.875rem; background-color:#E41E26;}
#headLnbBox {width:960px; width:60rem; height:100%; margin:0 auto; position:relative;}

/* sns*/
#sns {width:76px; width:4.75rem; height:16px; height:1rem; position:absolute; top:7px; top:0.4375rem; left:30px; left:1.875rem;}
#sns>ul>li {width:16px; width:1rem; height:16px; height:1rem; margin-left:3px; margin-left:0.1875rem; float:left;}
#sns>ul>li>a {background-image: url(../img/header/sns_icon.png);}

.face>a {width:100%; height:100%; display:block; background-repeat:no-repeat; margin-left:0px;}
.blog>a {width:100%; height:100%; display:block;background-repeat:no-repeat; background-position:-18px 0;}
.inst>a {width:100%; height:100%; display:block;background-repeat:no-repeat; background-position:-37px 0;}
.twit>a {width:100%; height:100%; display:block; background-repeat:no-repeat; background-position:-56px 0;}

#sns>ul>li>a:hover {background-image:url(../img/header/hover/sns.png); background-repeat:no-repeat;}

.blog>a:hover {background-position:-18px 0;}
.inst>a:hover {background-position:-37px 0;}
.twit>a:hover {background-position:-56px 0;}

/* login*/
#siteMap {width:128px; width:7.75rem; height:16px; height:1rem; position:absolute; top:5px; right:30px;}
#siteMap>ul>li {float:left;}
#siteMap>ul>li>a {color:#fff; font-size:0.875rem; font-family: "Noto Sans KR Regular"; letter-spacing: -0.05rem; margin-left:8px; margin-left:0.5rem; text-decoration: none;}
#siteMap>ul>li>a:hover {text-decoration: underline;}





/*________________________________headGnb*/


#headBox {width:960px; width:60rem; height:66px; margin:0 auto; background-image:#fff; position:relative;}

#headH1>a {width:65px; width:4.0625rem; height:55px; height:3.4375rem;
position:absolute; top:10px; left:38px; background-image: url(../img/header/h1_logo.png); background-repeat:no-repeat; background-size: contain;}

#gnb {width:796px; height:20px; position:absolute; top:18px; left:100px; }
#gnb>ul>li {float:left;}
#gnb>ul>li>a {font-size:0.9375rem; font-family: "Noto Sans KR Medium"; line-height:2.8125rem; margin-right:50px; margin-right:3.125rem; float:left; text-decoration: none; color:#595959;}
/*
#gnb .gnb1_nav {width:700px; height:30px; background-color:#fff; display: block; position:relative; top:200px;}
#gnb .gnb1_nav>li {float:left;}
*/


#gnb>ul>li:first-child {margin-left:52px; margin-left:3.25rem;}
#gnb>ul>li>a:hover {border-bottom:10px solid #e41e26; }